* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 1.5rem;
    width: 350px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow: 5px 10px 5px 0px rgba(117, 117, 117, 1);
}

.box {
    margin: 1rem;
    width: 350px;
    height: 570px;
}

.header {
    text-align: center;
}

.header p {
    color: rgb(120, 120, 120);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.text-content {
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
}

.text-content p {
    color: rgb(120, 120, 120);
    font-size: small;
    margin-bottom: 0.5rem;
}

.text-content input {
    width: 90%;
}

.choose-color {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.choose-color div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-color input {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.choose-size {
    margin-left: 0.5rem;
    margin-bottom: 1rem;

}

.choose-size input {
    margin-top: 1rem;
    accent-color: rgb(255, 208, 110);
    width: 90%;
}



.choose-spacing {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.choose-spacing input {
    margin-top: 1rem;
    accent-color: rgb(255, 208, 110);
    width: 90%;
}


.img-format {
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
}

.img-type {
    margin-top: 0.5rem;
    display: flex;
}

.img-type label {
    margin-right: 0.7rem;
}

.img-type div {
    margin-right: 0.3rem;
}

.btn {
    text-align: center;
}

.generate-btn {
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(255, 208, 110);
    color: chocolate;
    font-weight: bold;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: rgb(255, 224, 158);
}

.qr-code-container{
    display: none;
    justify-content: center;
    background-color: white;
    border-radius: 1.5rem;
    text-align: center;
    width: 350px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: 5px 10px 5px 0px rgba(117, 117, 117, 1);
}

.qr-code-box{
    margin: 2rem;
    width: 350px;
    height: 550px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.qr-code-box h2{
    margin-bottom: 1rem;
}
.qr-code-box h3{
    margin-bottom: 1.5rem;
    color: rgb(120, 120, 120);
    font-size:medium;
}

.setting{
    margin-bottom: 1rem;
}

.info{
    color: rgb(120, 120, 120);
    margin-bottom: 1.5rem;
}

.info p{
    margin-bottom: 1rem;
    font-size: medium;
}

.info b{
    font-weight: bold;
    color: black;
}

.info #edit{
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(255, 208, 110);
    color: chocolate;
    font-weight: bold;
    cursor: pointer;
}

#edit:hover {
    background-color: rgb(255, 224, 158);
}


/* Small */
@media (max-width: 468px) and (min-width:226px) {
    .container {
        width: 300px;
    }
    .box{
        height: 600px;
    }
}
